<div>
  <h1 align="center">Detail Kategori Obat</h1>
    <br/>
    <form class="form-horizontal">
        <div class="form-group">
            <label for="inputEmail3" class="col-sm-1 control-label">Kode Kategori Obat</label>
            <div class="col-sm-10">
                <input type="text" class="form-control" id="kdKategoriObat" value={{dataKategoriObatDetail.KdKategoriObat}}>
            </div>
        </div>
        <div class="form-group">
                <label for="inputEmail3" class="col-sm-1 control-label">Nama Jenis Obat</label>
                <div class="col-sm-10">
                    <input type="text" class="form-control" id="namaKategoriObat" value={{dataKategoriObatDetail.NamaKategoriObat}}>
                </div>
            </div>
    </form>
</div>