<div class="panel panel-success">
    <h1 align="center">Data Variasi Obat</h1>
    <hr>
    &ensp;<a class="btn btn-info" href [routerLink]="['/variasiobatcreate']"><span class="glyphicon glyphicon-plus"></span></a>
    <table class="table">
        <thead>
            <tr>
                <td>
                    <h3>Kode Variasi Obat</h3>
                </td>
                <td>
                    <h3>Nama Variasi Obat</h3>
                </td>
                <td>
                    <h3>Aksi</h3>
                </td>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let item of dataVariasiObat">
                <td>
                    <h4>{{item.KdVariasiObat}}</h4>
                </td>
                <td>
                    <h4>{{item.NamaVariasiObat}}</h4>
                </td>
                <td>
                    <a class="btn btn-success" href [routerLink]="['/variasiobatdetail/',item._id]"><span class="glyphicon glyphicon-search"></span></a>
                    <a class="btn btn-info" href [routerLink]="['/variasiobatedit/',item._id]"><span class="glyphicon glyphicon-pencil"></span></a>
                    <button class="btn btn-danger" type="button" (click)="variasiobatDelete(item._id)"><span class="glyphicon glyphicon-trash"></span></button>
                </td>
            </tr>
        </tbody>
    </table>
</div>
